<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <script type="text/javascript" src="../index.js" defer></script>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  
  <%- include('../partials/google_analytics.ejs') %>
  
  <body class="antialiased">
    <div class="container mx-auto px-4 h-screen w-5/6 flex flex-col justify-center items-center prose prose-slate">
      <div class="flex flex-row">
        <div class="flex flex-col w-1/2 items-left justify-center">
          <div class="text-lg md:text-xl font-semibold text-blue-500">Handle:<span class="text-sm text-gray-800"><%= handle %></span></div>
          <div class="text-sm md:text-lg font-semibold text-blue-500">DID:<span class="text-sm text-gray-800"><%= did %></span></div>
          <div class="text-sm md:text-lg font-semibold text-blue-500">Key:<span class="text-xs break-all text-gray-800"><%= key %></span></div>
          <form id="form1" method="post" action="/follow" class="space-y-1">
            <label>Send Request</label>
            <label for="team_name" class="font-bold">@</label>
            <input type="text" name="fhandle" class="border border-gray-300 px-2 py-1 rounded-lg">
            <input type="hidden" name="subjectDID" value= <%= did %> />
            <button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200">Request Follow</button>
          </form>
          <div class="h-64 w-full">
            <div class="font-semibold"> Pending Follow Requests</div>
            <div class="flex flex-col overflow-y-scroll w-full">
              <table class="text-left">
                <thead>
                  <tr class="sticky top-0 bg-gray-400 text-gray-100">
                    <th>User</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% inbox.forEach(function(message) { %>
                  <tr class="bg-gray-100">
                    <td><%= JSON.stringify(message.credentialSubject["id"]) %></td>
                    <td><button type="submit" class="rounded-lg bg-blue-500 px-2 py-2 text-gray-200">Accept</button></td>
                  </tr>
                  <% }); 
                  %> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="w-1/2 overflow-hidden">
          <pre class="text-left text-sm">Doc: <code><%= doc %></code> </pre>
        </div>
      </div>
      <%- include('../partials/shovel.ejs') %>
    </div>
  </body>
</html>